<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="myprofile" appconnect="local" components="{dmxBootstrap5Navigation:{},dmxBootstrap5Alert:{},dmxBootstrap5Modal:{},dmxValidator:{},dmxFormatter:{},dmxDataTraversal:{}}" -->
<meta name="ac:route" content="/portal/my-profile">

<head>
    <title>Vizzy Dashboard</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/cards-advance.css" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-account-settings.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/vendor/js/template-customizer.js"></script>
    <script src="/assets/js/config.js"></script>
    <!-- Custom CSS Ends -->
</head>

<body dmx-on:load="varPageName.setValue('Profile')">
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Layout container -->
            <div class="layout-page">

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->

                    <div class="container-xxl flex-grow-1 container-p-y">
                        <!-- <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4> -->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="demo-vertical-spacing mb-4">
                                    <!-- Checkbox -->

                                    <!-- Radio -->
                                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" checked />
                                        <label class="btn btn-outline-primary px-2 px-sm-3 px-md-4" for="btnradio1" dmx-on:click="browser1.goto('/portal/my-profile')">Profile</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" />
                                        <label class="btn btn-outline-primary px-2 px-sm-3 px-md-4" for="btnradio2" dmx-on:click="browser1.goto('/portal/plan')">Plan</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" />
                                        <label class="btn btn-outline-primary px-2 px-sm-3 px-md-4" for="btnradio3" dmx-on:click="browser1.goto('/portal/notifications');scUpdateNotif.load()">Notifications</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio4" />
                                        <label class="btn btn-outline-primary px-2 px-sm-3 px-md-4" for="btnradio4" dmx-on:click="browser1.goto('/portal/security')">Security</label>

                                        <input type="radio" class="btn-check" name="btnradio" id="btnradio5" />
                                        <label class="btn btn-outline-primary px-2 px-sm-3 px-md-4" for="btnradio5" dmx-on:click="browser1.goto('/portal/billing')">Billing</label>
                                    </div>
                                </div>



                            </div>
                            <!-- User Profile Content -->
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <!-- About User -->
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <small class="card-text text-uppercase px-1">About</small>
                                            <ul class="list-unstyled mb-4 mt-3">
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-user text-heading"></i><span class="fw-medium mx-2 text-heading">Full Name:</span> <span>{{scUserInfo.data.query.first_name.titlecase()}} {{scUserInfo.data.query.last_name.titlecase()}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-calendar text-heading"></i><span class="fw-medium mx-2 text-heading">DOB:</span> <span>{{scUserInfo.data.query.user_dob.formatDate('dd MMM yyyy')}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-check text-heading"></i><span class="fw-medium mx-2 text-heading">Plan:</span> <span>{{scUserInfo.data.query.package}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-flag text-heading"></i><span class="fw-medium mx-2 text-heading">Country:</span> <span>{{scUserInfo.data.query.resident_country}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-file-description text-heading"></i><span class="fw-medium mx-2 text-heading">Languages:</span> <span>{{(scUserInfo.data.query.user_language=='ENG')?'English':(scUserInfo.data.query.user_language=='FR')?'French':(scUserInfo.data.query.user_language=='DE')?'German':(scUserInfo.data.query.user_language=='POR')?'Portuguese':(scUserInfo.data.query.user_language=='TUR')?'Turkish':'English'}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti text-heading" dmx-class:ti-currency-euro="(scUserInfo.data.query.currency_code=='EUR')" dmx-class:ti-currency-pound="(scUserInfo.data.query.currency_code=='GBP')" dmx-class:ti-currency-dollar="(scUserInfo.data.query.currency_code=='USD')" dmx-class:ti-currency-rupee="(scUserInfo.data.query.currency_code=='INR')" dmx-class:ti-currency-dollar-canadian="(scUserInfo.data.query.currency_code=='CAD')"></i><span class="fw-medium mx-2 text-heading">Default Currency:</span> <span>{{scUserInfo.data.query.currency_code}}</span>
                                                </li>
                                            </ul>
                                            <small class="card-text text-uppercase px-1">Contacts</small>
                                            <ul class="list-unstyled mt-3">
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-phone-call"></i><span class="fw-medium mx-2 text-heading">Contact:</span>
                                                    <span>{{scUserInfo.data.query.phone_no}}</span>
                                                </li>
                                                <li class="d-flex align-items-center mb-3">
                                                    <i class="ti ti-mail"></i><span class="fw-medium mx-2 text-heading">Email:</span>
                                                    <span>{{scUserInfo.data.query.user_email}}</span>
                                                </li>
                                            </ul>
                                            <div class="float-start"><button class="btn btn-label-primary" type="button" data-bs-toggle="modal" data-bs-target="#editUsers">Edit</button></div>
                                        </div>
                                    </div>
                                    <!--/ About User -->
                                </div>
                                <!-- Profile Content Right Side -->
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12 px-0">
                                    <div class="row mx-0">
                                        <!-- Completed -->
                                        <div class="col-lg-6 col-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <div class="badge rounded-pill p-2 bg-label-success mb-2">
                                                        <!-- <i class="ti ti-briefcase ti-sm"></i> -->
                                                        <i class="fa-solid fa-trophy ti-sm"></i>
                                                    </div>
                                                    <h5 class="card-title mb-2">{{scUserInfo.data.TotalCompletedTasks.CountTasks}}</h5>
                                                    <h6>Total Tasks Completed</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Waiting -->
                                        <div class="col-lg-6 col-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body text-center">
                                                    <div class="badge rounded-pill p-2 bg-label-primary mb-2">
                                                        <i class="fa-solid fa-list-ul ti-sm"></i>
                                                    </div>
                                                    <h5 class="card-title mb-2">{{scUserInfo.data.TotalTasksWaiting.CountTasks}}</h5>
                                                    <h6>Total Waiting Tasks</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-12 mb-4">
                                            <!-- Basic Message -->
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="col-12">
                                                        <div class="card-title mb-auto">
                                                            <h5 class="mb-1 text-nowrap">Well done, increase your support.</h5>
                                                            <p>You are ready for an upgrade from: {{scUserInfo.data.query.package}}</p>
                                                        </div>
                                                        <div class="float-end">
                                                            <button class="btn btn-success">More support</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                <!-- Profile Content Right Side Ends-->


                                <!-- Delete User Account -->
                                <div class="col-12">
                                    <div class="card">
                                        <h5 class="card-header">Delete Account</h5>
                                        <div class="card-body">
                                            <div class="mb-3 col-12 mb-0">
                                                <div class="alert alert-warning">
                                                    <h5 class="alert-heading mb-1">Are you sure you want to delete your account?</h5>
                                                    <p>Once you delete your account, there is no going back. Please be certain.</p>
                                                    <p class="mb-0">Note, if you paid for a month, you could continue using the service before the next billing date starts.</p>
                                                </div>
                                            </div>
                                            <form id="formAccountDeactivation" is="dmx-serverconnect-form" method="post" action="/api/User/DeleteUserProfile" dmx-on:error="notifies1.warning(lastError.response)" dmx-on:unauthorized="notifies1.warning(lastError.response)" dmx-on:forbidden="notifies1.warning(lastError.response)" dmx-on:invalid="notifies1.warning(lastError.response.data.Resp)" dmx-on:success="notifies1.success('User Profile Deleted Successfully');formAccountDeactivation.reset(true);browser1.goto('/portal/login')">
                                                <div class="form-check mb-4">
                                                    <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" required="" />
                                                    <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                                                </div>
                                                <button class="btn btn-danger deactivate-account" dmx-on:click="run({condition:{if:`formAccountDeactivation.accountActivation.checked`,then:{steps:{'bootbox.confirm':{message:'Are you sure to delete the account?',title:'Delete Account',buttons:{confirm:{label:'Yes',className:'btn-primary'},cancel:{label:'No',className:'btn-secondary'}},swapButtonOrder:true,centerVertical:true,then:{steps:{run:{action:`formAccountDeactivation.submit()`}}},name:'DeleteAccount'}}},else:{steps:{run:{action:`notifies1.warning(\'Please tick and confirm the deactivation.\')`}}}}})">Deactivate Account</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete User Account -->

                            </div>

                            <!-- Edit User modal -->
                            <div class="modal fade" id="editUsers" tabindex="-1" aria-hidden="true" is="dmx-bs5-modal">
                                <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
                                    <div class="modal-content p-3 p-md-5">
                                        <div class="modal-body p-0">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <div class="mb-4">
                                                <h3 class="mb-3">Edit Profile Info. <span class="spinner-grow" role="status" dmx-show="state.executing"></span></h3>
                                                <!-- <p class="text-muted">Supported payment methods</p> -->
                                            </div>
                                            <form id="formUserProfile" method="post" is="dmx-serverconnect-form" action="/api/User/UserInfoUpdate" dmx-on:error="notifies1.warning(lastError.response)" dmx-on:unauthorized="notifies1.warning(lastError.response)" dmx-on:forbidden="notifies1.warning(lastError.response)" dmx-on:invalid="notifies1.warning(lastError.response.data.Resp)" dmx-on:success="notifies1.success('Profile Information Updated Successfully');formUserProfile.reset(true);editUsers.hide();scUserInfo.load({})">
                                                <div class="row">
                                                    <div class="mb-3 col-md-6">
                                                        <label for="firstName" class="form-label">First Name</label>
                                                        <input class="form-control" type="text" id="firstName" name="first_name" autofocus dmx-bind:value="scUserInfo.data.query.first_name" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="lastName" class="form-label">Last Name</label>
                                                        <input class="form-control" type="text" name="last_name" id="lastName" dmx-bind:value="scUserInfo.data.query.last_name" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="email" class="form-label">E-mail</label>
                                                        <input class="form-control" type="text" id="email" name="user_email" placeholder="john.doe@example.com" dmx-bind:value="scUserInfo.data.query.user_email" disabled="true" />
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label class="form-label" for="phoneNumber">Phone Number/ Mobile</label>
                                                        <div class="input-group input-group-merge">
                                                            <input class="form-control" id="phoneNumber" name="phone_no" type="tel" id="html5-tel-input" dmx-bind:value="scUserInfo.data.query.phone_no" placeholder="90-(164)-188-556" />
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="fromCountry" class="form-label">Where you live (Country)?</label>
                                                        <select id="fromCountry" class="form-select" data-allow-clear="true" name="from_country" required="" dmx-bind:value="scUserInfo.data.query.resident_country">
                                                            <option value="">Select</option>
                                                            <option value="UK">UK</option>
                                                            <option value="Germany">Germany</option>
                                                            <option value="Spain">Spain</option>
                                                            <option value="France">France</option>
                                                            <option value="Portugal">Portugal</option>
                                                            <option value="Switzerland">Switzerland</option>
                                                            <option value="Netherlands">Netherlands</option>
                                                        </select>
                                                    </div>
                                                    <div class="mb-3 col-md-6">
                                                        <label for="dob" class="form-label">DOB</label>
                                                        <input class="form-control" type="date" id="dob" name="dob" dmx-bind:value="scUserInfo.data.query.user_dob" />
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <button type="submit" class="btn btn-primary me-2" dmx-bind:disabled="state.executing">Save changes</button>
                                                    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                                                </div>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- / Edit User modal -->

                        </div>
                    </div>
                    <!-- / Content -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/forms-selects.js"></script>
</body>