<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="news" appConnect="local" components="{dmxBootstrap5Modal:{}}" -->
<meta name="ac:route" content="/portal/news">

<head>
    <title>Vizzy Dashboard</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/cards-advance.css" />
    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-account-settings.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/vendor/js/template-customizer.js"></script>
    <script src="/assets/js/config.js"></script>
    <!-- Custom CSS Ends -->
</head>

<body dmx-on:load="varPageName.setValue('News')">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Visa News /</span> </h4>
        <!-- Horizontal -->
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/08/20/40/34/1920x1080_cmsv2_13d9b322-9f9f-5e43-ab1a-638978ccca42-8204034.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">French court blocks plan to scrap 90-day visa rule for British expats</h6>
                                <p class="card-text">
                                    A new law which would have allowed British second-home owners an automatic long-stay visa has been rejected by a French court for being “unconstitutional”.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: French embassy<br />Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/07/21/42/92/210x136_cmsv2_53b6c452-b831-51fa-ac59-2ca65a314ee3-7214292.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Everything you need to know about the EU's new EES and ETIAS visas</h6>
                                <p class="card-text">
                                    Entering the European Union will get more complicated for non-EU nationals from autumn this year.

                                    A new Entry Exit System (EES) is set to come into effect in October 2024.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euroNews<br />Date: 11/02/2024</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/08/18/84/94/210x136_cmsv2_fe0183eb-c029-5454-85ec-d20f0945ef82-8188494.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Here’s how to apply for permanent residency across 5 EU states</h6>
                                <p class="card-text">
                                    After you’ve put down roots in a country, you may be thinking about making it more long-term by applying for a permanent residency permit.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: EU News<br />10/02/2024</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/08/12/88/74/320x180_cmsv2_b1062c1b-030d-5d6c-80dc-af186ce1cac8-8128874.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Controversial restrictions on UK family visa rules eased</h6>
                                <p class="card-text">
                                    The UK government's changes were blasted as an "effective ban" on most UK citizens marrying foreign nationals.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euronews<br />Date: 22/12/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/08/07/30/04/320x180_cmsv2_0b973e91-5633-52a0-b289-30ce1f012902-8073004.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">This European country has the world’s best digital nomad visa</h6>
                                <p class="card-text">
                                    Digital nomad visas can vary in terms of taxes, length and minimum income requirements.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euronews<br />Date: 28/11/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/06/99/83/78/320x180_cmsv2_d2eb9879-a096-5ef2-a02e-a182865b3492-6998378.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Moving to Germany will be easier in 2024 under a new visa scheme</h6>
                                <p class="card-text">
                                    Germany's immigration law reforms will be introduced in three stages starting in November this year.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euronews<br />Date: 16/10/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/07/90/38/54/320x180_cmsv2_ec3d0cf2-7d43-59f2-90fb-97da3e121d58-7903854.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">UK visa fees are going up: Here’s what you need to know</h6>
                                <p class="card-text">
                                    The UK government has said how the profits will be spent.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: Travel News<br />Date: 19/09/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/07/84/72/98/320x180_cmsv2_0acf31f0-481e-52cb-bc88-9f06a19abe11-7847298.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">The home of cheap beer and night trains is opening to digital nomads</h6>
                                <p class="card-text">
                                    Skilled remote workers from eight countries can apply for this new remote work visa in Europe.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euronews<br />Date: 25/08/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/08/12/88/74/320x180_cmsv2_b1062c1b-030d-5d6c-80dc-af186ce1cac8-8128874.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Controversial restrictions on UK family visa rules eased</h6>
                                <p class="card-text">
                                    The UK government's changes were blasted as an "effective ban" on most UK citizens marrying foreign nationals.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: euronews<br />Date: 22/12/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" data-bs-toggle="modal" data-bs-target="#NewsDetails">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/07/79/71/60/320x180_cmsv2_75041cf0-14fc-5b7d-96b2-e5028a390172-7797160.jpg" alt="Card image" />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body">
                                <h6 class="card-title">Want to move to the US? Golden visas offer a way in for the wealthy</h6>
                                <p class="card-text">
                                    How to get a green card by investment and make your American dream a reality.
                                </p>
                                <p class="card-text"><small class="text-muted">Source: DESTINATIONS<br />Date: 02/08/2023</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--/ Horizontal -->

    </div>
    <!-- Edit User modal -->
    <div class="modal fade" id="NewsDetails" tabindex="-1" aria-hidden="true" is="dmx-bs5-modal">
        <div class="modal-dialog modal-lg modal-simple modal-enable-otp modal-dialog-centered">
            <div class="modal-content p-3 p-md-5">
                <div class="modal-body p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="mb-4">
                        <h3 class="mb-3">Want to move to the US? Golden visas offer a way in for the wealthy <span class="spinner-grow" role="status" dmx-show="state.executing"></span></h3>
                        <div class="col-12">
                            <img class="card-img card-img-left" src="https://static.euronews.com/articles/stories/07/79/71/60/320x180_cmsv2_75041cf0-14fc-5b7d-96b2-e5028a390172-7797160.jpg" alt="Card image" />
                        </div>
                        <p class="text-muted pt-4">How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality. How to get a green card by investment and make your American dream a reality.</p>
                    </div>



                </div>
                <div class="modal-footer p-0">
                    <button class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- / Edit User modal -->
    <!-- Core JS -->
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/vendor/libs/hammer/hammer.js"></script>
    <script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>
    <script src="/assets/vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Main JS -->
    <script src="/assets/js/main.js"></script>

    <!-- Page JS -->
    <script src="/assets/js/forms-selects.js"></script>
</body>