<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="tasks" appconnect="local" dmx-on:ready="varPageName.setValue('Tasks')" components="{dmxDataTraversal:{},dmxValidator:{},dmxFormatter:{},dmxBootbox5:{},dmxBootstrap5Modal:{},dmxBootstrap5Offcanvas:{}}" -->
<meta name="ac:route" content="/portal/tasks">
<dmx-serverconnect id="scTaskList" url="/api/Tasks/TaskList" dmx-on:success="varPageName.setValue('Tasks')" dmx-param:visa_application_id="SelectVisaApplication.value"></dmx-serverconnect>
<dmx-data-view id="dvTaskList" dmx-bind:data="scTaskList.data.custom" filter="((task_name.lowercase().contains(SearchItems.value.lowercase())) || (description.lowercase().contains(SearchItems.value.lowercase())) || (your_notes.lowercase().contains(SearchItems.value.lowercase())))"></dmx-data-view>
<dmx-data-detail id="ddTaskList" dmx-bind:data="dvTaskList.data" key="task_assigned_id"></dmx-data-detail>
<dmx-serverconnect id="scDelCustomTask" url="/api/Tasks/DeleteCustomTask" noload></dmx-serverconnect>
<dmx-value id="varStatus" dmx-bind:value="'All'"></dmx-value>

<!-- <dmx-serverconnect id="scDelTask" url="/api/Tasks/DeleteTasks" noload dmx-on:success="scTaskList.load()"></dmx-serverconnect> -->

<head>
    <title>Task List</title>

    <link rel="stylesheet" href="/assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/bootstrap-select/bootstrap-select.css" />


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap" rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/rtl/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/rtl/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/swiper/swiper.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css" />

    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/cards-advance.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/vendor/js/template-customizer.js"></script>
    <script src="/assets/js/config.js"></script>
</head>

<section class="px-4 mt-3">

    <!-- Task List Table -->
    <section id="Listtable">
        <div class="card">
            <div class="card-header border-bottom">
                <div class="d-flex align-items-center gap-3  flex-wrap">
                    <div class="flex-grow-1">
                        <h5 class="card-header">Application Tasks: {{varStatus.value}}<div class="spinner-grow" role="status" dmx-show="scTaskList.state.executing">
                            </div>
                        </h5>
                    </div>
                    <div class="d-flex align-items-center flex-grow-0 flex-wrap">
                        <button type="button" class="btn btn-label-secondary text-nowrap d-inline-block me-1 mb-3 mb-md-0" id="TaskAll" dmx-on:click="scTaskList.load({status: '', visa_application_id: SelectVisaApplication.value});varStatus.setValue('All')">
                            All
                            <span class="badge bg-gray text-white badge-notifications w-px-18 ms-2">{{scTaskList.data.customCount[0].total_count?scTaskList.data.customCount[0].total_count:0}}</span>
                        </button>
                        <button type="button" class="btn btn-label-primary text-nowrap d-inline-block mx-1 mb-3 mb-md-0" id="TaskWaiting" dmx-on:click="scTaskList.load({status: 'Waiting', visa_application_id: SelectVisaApplication.value});varStatus.setValue('Waiting')">
                            Waiting
                            <span class="badge bg-primary text-white badge-notifications w-px-18 ms-2">{{scTaskList.data.customCount[0].waiting_count?scTaskList.data.customCount[0].waiting_count:0}}</span>
                        </button>

                        <button type="button" class="btn btn-label-warning text-nowrap d-inline-block mx-1 mb-3 mb-md-0" id="TaskInProgress" dmx-on:click="scTaskList.load({status: 'In-Progress', visa_application_id: SelectVisaApplication.value});varStatus.setValue('In-Progress')">In-Progress
                            <span class="badge bg-warning text-white badge-notifications w-px-18 ms-2">{{scTaskList.data.customCount[0].in_progress_count?scTaskList.data.customCount[0].in_progress_count:0}}</span>
                        </button>

                        <button type="button" class="btn btn-label-success text-nowrap d-inline-block ms-1 mb-3 mb-md-0" id="TaskCompleted" dmx-on:click="scTaskList.load({status: 'Completed', visa_application_id: SelectVisaApplication.value});varStatus.setValue('Completed')">Completed
                            <span class="badge bg-success text-white badge-notifications w-px-18 ms-2">{{scTaskList.data.customCount[0].completed_count?scTaskList.data.customCount[0].completed_count:0}}</span>
                        </button>
                        <button class="btn add-new btn-primary mx-2 mb-3 mb-md-0" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser" dmx-on:click="TaskForm.reset();ddTaskList.select(0)"><span><i class="ti ti-plus me-0 me-sm-1 ti-xs"></i><span class="d-none d-sm-inline-block">New Task</span></span></button>
                    </div>
                </div>
                <div class="d-flex float-end flex-md-nowrap flex-wrap">
                    <div class="col-12 col-md-6 me-1">
                        <label class="form-label" for="SelectVisaApplication">Your Applications</label>
                        <select class="form-select" id="SelectVisaApplication" dmx-bind:options="scUserInfo.data.VisaApplicationInfo" optionvalue="visa_info_id" optiontext="destination_country+', '+visa_application_type"></select>
                    </div>
                    <div class="col-12 col-md-6">
                        <label class="form-label pb-3" for="SearchItems"></label>
                        <input class="form-control" id="SearchItems" placeholder="Search here" />
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th class="px-2">Status</th>
                            <th class="px-2" style="width: 20%;">Task</th>
                            <th class="px-2">Required</th>
                            <th class="px-2">Information</th>
                            <th class="ps-0 pe-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="dvTaskList.data" id="tableRepeat1" key="task_assigned_id">
                        <tr>
                            <td class="px-2">
                                <span class="badge " text-capitalized dmx-class:bg-label-primary="(status=='Waiting')" dmx-class:bg-label-success="(status=='Completed')" dmx-class:bg-label-warning="(status=='In-Progress')" dmx-class:bg-label-secondary="(status=='Ignore')">{{status}}</span>
                            </td>
                            <td class="px-2">{{task_name}}</td>
                            <td class="px-2">{{required}}</td>
                            <td class="px-2">{{description}}</td>
                            <td class="px-0">
                                <div class="d-flex align-items-center">
                                    <a href="#" type="button" class="text-body" aria-label="Edit Tasks" data-bs-original-title="Edit Tasks" tabindex="0" aria-controls="DataTables_Table_0" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser" dmx-on:click="ddTaskList.select(task_assigned_id)"><i class="mx-2 ti ti-edit ti-sm"></i></a>
                                    <a href="#" data-bs-toggle="tooltip" class="text-body" data-bs-placement="top" aria-label="Delete Tasks" dmx-show="task_type!='Default'" data-bs-original-title="Delete Tasks" dmx-on:click="run({'bootbox.confirm':{message:'Are you sure to delete the custom task?',title:'Delete a Custom Task',buttons:{confirm:{label:'Yes',className:'btn-primary'},cancel:{label:'No',className:'btn-secondary'}},swapButtonOrder:true,centerVertical:true,then:{steps:{run:{action:`scDelCustomTask.load({assigned_task_id: task_assigned_id});scTaskList.load({visa_application_id: SelectVisaApplication.value})`}}},name:'DelCustomTask'}})"><i class="mx-2 ti ti-sm ti-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody dmx-show="content.dvTaskList.data.length<1">
                        <tr>
                            <td colspan="7" class="text-center bg-label-danger">No record found!</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- add new Task -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel" is="dmx-bs5-offcanvas">
                <div class="offcanvas-header">
                    <h5 id="offcanvasAddUserLabel" class="offcanvas-title">{{ddTaskList.data.task_assigned_id?'Update Task':'Add A Custom Task'}} <div class="spinner-grow spinner-border-sm" role="status" dmx-show="TaskForm.state.executing"></div>
                    </h5>

                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
                    <form class="add-new-user pt-0" id="TaskForm" method="post" is="dmx-serverconnect-form" dmx-on:unauthorized="notifies1.warning(lastError.response)" dmx-on:forbidden="notifies1.warning(lastError.response)" dmx-on:success="ddTaskList.select(task_assigned_id.value);notifies1.success('Task Info. Added Successfully');scTaskList.load({visa_application_id: SelectVisaApplication.value});TaskForm.reset(true);scUserInfo.load();offcanvasAddUser.hide()" dmx-on:invalid="notifies1.warning(content.TaskForm.lastError.response.data.Resp)" dmx-on:error="notifies1.warning(lastError.response)" action="/api/Tasks/AddEditTasks">
                        <input type="hidden" dmx-bind:value="ddTaskList.data.task_assigned_id" name="task_assigned_id" id="task_assigned_id">
                        <div class="mb-3" dmx-show="ddTaskList.data.task_type!='Default'">
                            <label class="form-label" for="add-task-name">Task Name <strong class="compulsory">*</strong></label>
                            <input type="text" id="add-task-name" class="form-control" placeholder="Task Name" aria-label="Task Name" name="task_name" required="" dmx-bind:value="ddTaskList.data.task_name" />
                        </div>
                        <div class="mb-3" dmx-show="ddTaskList.data.task_type!='Default'">
                            <label class="form-label" for="add-task-name">Your Applications<strong class="compulsory">*</strong></label>
                            <select class="form-select" id="TaskCountry" dmx-bind:options="scUserInfo.data.VisaApplicationInfo" optiontext="destination_country+', '+visa_application_type" optionvalue="visa_info_id" name="visa_info_id"></select>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-12 col-md-12">
                                <label class="form-label" for="add-task-status">Status <strong class="compulsory">*</strong></label>
                                <select type="text" id="add-task-status" class="form-select" name="status" required="" dmx-bind:value="ddTaskList.data.status">
                                    <option value="">Select</option>
                                    <option value="Waiting">Waiting</option>
                                    <option value="In-Progress">In-Progress</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Ignore">Ignore</option>
                                </select>
                            </div>
                            <div class="mb-3 col-12 col-md-12" dmx-show="ddTaskList.data.task_type!='Default'">
                                <label class="form-label" for="add-task-required">Required?</label>
                                <select type="text" id="add-task-required" class="form-select" name="required" dmx-bind:value="ddTaskList.data.required">
                                    <option value="">Select</option>
                                    <option value="Mandatory">Mandatory</option>
                                    <option value="Advised">Advised</option>
                                    <option value="Optional">Optional</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3" dmx-show="ddTaskList.data.task_type!='Default'">
                            <label class=" form-label" for="add-task-description">Information</label>
                            <textarea type="text" id="add-task-description" class="form-control" placeholder="Add a description... " aria-label="description" name="description" dmx-bind:value="ddTaskList.data.description" rows="6"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class=" form-label" for="add-task-notes">Your Notes</label>
                            <textarea type="text" id="add-task-notes" class="form-control" placeholder="Your notes" aria-label="Your notes" name="your_notes" dmx-bind:value="ddTaskList.data.your_notes" rows="6"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit mt-2" dmx-bind:disabled="state.executing">{{ddTaskList.data.task_assigned_id?'Update':'Save'}}</button>
                        <button type="reset" class="btn btn-label-secondary btn-secondary mt-2" data-bs-dismiss="offcanvas">Cancel</button>
                    </form>
                </div>
            </div>

        </div>

    </section>
</section>

<!-- Core JS -->
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/libs/node-waves/node-waves.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/libs/hammer/hammer.js"></script>
<script src="/assets/vendor/libs/typeahead-js/typeahead.js"></script>
<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/select2/select2.js"></script>
<script src="/assets/vendor/libs/bootstrap-select/bootstrap-select.js"></script>
<script src="/assets/vendor/libs/bloodhound/bloodhound.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/forms-selects.js"></script>