<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="contactus" appConnect="local" components="{dmxValidator:{}}" -->
<meta name="ac:route" content="/contact-us">
<!-- Page CSS -->
<link rel="stylesheet" href="/assets/vendor/css/pages/front-page-help-center.css" />

<!-- Help Center Header: Start -->
<section class="section-py first-section-pt help-center-header">
    <h3 class="text-center">Contact Us</h3>
    <!-- <div class="input-wrapper my-3 input-group input-group-lg input-group-merge position-relative mx-auto">
        <span class="input-group-text" id="basic-addon1"><i class="ti ti-search"></i></span>
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
    </div> -->
    <!-- <p class="text-center px-3 mb-0">Get started with a plan that gives you the confident with your visa application</p> -->
</section>
<!-- Help Center Header: End -->
<!-- FAQ: Start -->
<section id="landingFAQ" class="section-py landing-faq">
    <div class="container">
        <div class="col-md-12 col-lg-12">
            <div class="mb-3 pb-1">
                <span class="badge bg-label-primary">Useful information to help</span>
            </div>
            <h3 class="mb-1"><span class="section-title">Frequently asked questions...</span></h3>
        </div>
        <!-- <div class="text-center mb-3 pb-1">
            <span class="badge bg-label-primary">FAQ</span>
        </div>
        <h3 class="text-center mb-1">Frequently asked <span class="section-title">questions</span></h3>
        <p class="text-center mb-5 pb-3">Browse through these FAQs to find answers to commonly asked questions.</p> -->
        <div class="row my-5">
            <div class="col-12">
                <div class="accordion" id="accordionExample">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingOne">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordionOne" aria-expanded="true" aria-controls="accordionOne">
                                ### Question to be added ###
                            </button>
                        </h2>

                        <div id="accordionOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lemon drops chocolate cake gummies carrot cake chupa chups muffin topping. Sesame snaps icing
                                marzipan gummi bears macaroon dragée danish caramels powder. Bear claw dragée pastry topping
                                soufflé. Wafer gummi bears marshmallow pastry pie.
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                ### Question to be added ###
                            </button>
                        </h2>
                        <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ### Answer to be added ###
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionThree" aria-expanded="false" aria-controls="accordionThree">
                                ### content to be added ###
                            </button>
                        </h2>
                        <div id="accordionThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ### Answer to be added ###
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFour" aria-expanded="false" aria-controls="accordionFour">
                                ### Question to be added ###
                            </button>
                        </h2>
                        <div id="accordionFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ### Answer to be added ###
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordionFive" aria-expanded="false" aria-controls="accordionFive">
                                ### Question to be added ###
                            </button>
                        </h2>
                        <div id="accordionFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                ### Answer to be added ###
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ: End -->
<!-- CTA: Start -->
<section id="landingCTA" class="section-py list-group-item-primary p-lg-0 pb-0">
    <div class="container">
        <div class="row align-items-center gy-5 gy-lg-0 py-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h6 class="h2 fw-bold mb-1">Get your own 24/7 agent now</h6>
                <p class="fw-medium mb-4 text-black-50">Ask your questions, get explanations, summaries
                    and even simplified answers to complex issues.</p>
                <a href="/portal/register" class="btn btn-lg btn-primary">Make a Start now!</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end d-none d-lg-block">
                <img src="/assets/img/front-pages/landing-page/Active Support-cuate.svg" alt="cta dashboard" class="img-fluid" style="/* margin-bottom: -20%; */  /* min-width: 60%; */ position: absolute; margin-left: -35%; margin-top: -20%;" />
            </div>
        </div>
    </div>
</section>
<!-- CTA: End -->
<!-- Contact Us: Start -->
<section id="landingContact" class="section-py bg-body landing-contact">
    <div class="container py-5">
        <!-- <div class="text-center mb-3 pb-1">
            <span class="badge bg-label-primary">Contact US</span>
        </div>
        <h3 class="text-center mb-1"><span class="section-title"></span> Are you a business and want an AI agent to support your expertise?</h3>
        <p class="text-center mb-4 mb-lg-5 pb-md-3">Sign up and get notified to get early access and take your services to the next level</p> -->
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="position-relative p-2 h-100">
                    <img src="/assets/img/front-pages/landing-page/Mention-cuate.svg" alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl" />
                    <!-- <div class="pt-3 px-4 pb-1">
                        <div class="row gy-3 gx-md-4">
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-label-primary rounded p-2 me-2"><i class="ti ti-mail ti-sm"></i></div>
                                    <div>
                                        <p class="mb-0">Email</p>
                                        <h5 class="mb-0">
                                            <a href="mailto:example@gmail.com" class="text-heading">example@gmail.com</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-label-success rounded p-2 me-2">
                                        <i class="ti ti-phone-call ti-sm"></i>
                                    </div>
                                    <div>
                                        <p class="mb-0">Phone</p>
                                        <h5 class="mb-0"><a href="#" class="text-heading">#</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-1">Send a message</h4>
                        <p class="mb-4">
                            We are happy to answer your questions if you have not found the answer with your AI Agent or in our FAQ. Please provide as much detail as possible to solve your request quickly.
                        </p>
                        <form is="dmx-serverconnect-form" method="post" id="scFormInquiry" dmx-on:error="notifies1.warning(lastError.response)" dmx-on:unauthorized="notifies1.warning(lastError.response)" dmx-on:forbidden="notifies1.warning(lastError.response)" dmx-on:invalid="notifies1.warning(content.scFormInquiry.lastError.response)" dmx-on:success="notifies1.success('Message sent successfully, we will get back to you soon.');scFormInquiry.reset(true)" action="/api/Website/ContactUs">
                            <div class="row g-3">
                                <div class="col-12 col-md-6">
                                    <label class="form-label" for="contact-form-fullname">Full Name</label>
                                    <input type="text" class="form-control" id="contact-form-fullname" placeholder="John Doe" name="inquiry_name" required="" />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="form-label" for="contact-form-email">Email</label>
                                    <input type="text" id="contact-form-email" class="form-control" placeholder="johndoe@gmail.com" name="inquiry_email" required="" data-rule-email="" />
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="contact-form-message">Message</label>
                                    <textarea id="contact_message" class="form-control" rows="5" placeholder="Write a message" required="" minlength="5" name="contact_message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Send inquiry</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us: End -->