<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" is="dmx-app" id="pricing" appConnect="local" jquery_slim_35="cdn" -->
<meta name="ac:route" content="/pricing">

<!-- Page CSS -->
<link rel="stylesheet" href="/assets/vendor/css/pages/front-page-help-center.css" />

<!-- Help Center Header: Start -->
<section class="section-py first-section-pt help-center-header">
    <h3 class="text-center">Pricing Plans</h3>
    <!-- <div class="input-wrapper my-3 input-group input-group-lg input-group-merge position-relative mx-auto">
        <span class="input-group-text" id="basic-addon1"><i class="ti ti-search"></i></span>
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1" />
    </div> -->
    <p class="text-center px-3 mb-0">Get started with a plan that gives you the confident with your visa application</p>
</section>
<!-- Help Center Header: End -->
<!-- Pricing Plans -->
<section class="section-py first-section-pt">
    <div class="container">
        <!-- <h2 class="text-center mb-2">Pricing Plans</h2>
        <p class="text-center">
            Get started with us - it's perfect for individuals and teams. Choose a subscription plan that meets your
            needs.
        </p>
        <div class="d-flex align-items-center justify-content-center flex-wrap gap-2 pb-5 pt-3 mb-0 mb-md-4">
            <label class="switch switch-primary ms-3 ms-sm-0 mt-2">
                <span class="switch-label">Monthly</span>
                <input type="checkbox" class="switch-input price-duration-toggler" checked />
                <span class="switch-toggle-slider">
                    <span class="switch-on"></span>
                    <span class="switch-off"></span>
                </span>
                <span class="switch-label">Annual</span>
            </label>
            <div class="mt-n5 ms-n5 d-none d-sm-block">
                <i class="ti ti-corner-left-down ti-sm text-muted me-1 scaleX-n1-rtl"></i>
                <span class="badge badge-sm bg-label-primary">Save up to 10%</span>
            </div>
        </div> -->

        <div class="row mx-0 gy-3 px-lg-5">
            <!-- Basic -->
            <div class="col-lg mb-md-0 mb-4">
                <div class="card border rounded shadow-none">
                    <div class="card-body">
                        <div class="my-3 pt-2 text-center">
                            <img src="/assets/img/front-pages/landing-page/basic_cube_duotone_icon-purple1.png" alt="Basic Image" height="140" />
                        </div>
                        <h3 class="card-title text-center text-capitalize mb-1">Basic</h3>
                        <p class="text-center">A simple start for everyone</p>
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary">€</sup>
                                <h1 class="display-4 mb-0 text-primary">12</h1>
                                <sub class="h6 pricing-duration mt-auto mb-2 text-muted fw-normal">/month</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">$ 0 / year</small> -->
                        </div>

                        <ul class="ps-0 my-4 pt-2 circle-bullets">
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Pay for what you use</li>
                            <li class="mb-2 d-flex align-items-center">
                                <i class="ti ti-point ti-lg"></i>Ask questions to experts instantly
                            </li>
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Immediate expert summaries to content</li>
                            <li class="mb-2 d-flex align-items-center">
                                <i class="ti ti-point ti-lg"></i>Stress free legal assistance (customised)
                            </li>
                            <li class="mb-0 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Use additional services when needed</li>
                        </ul>
                        <a href="/portal/register" class="btn btn-label-primary d-grid w-100">Start now</a>
                    </div>
                </div>
            </div>

            <!-- Pro -->
            <div class="col-lg mb-md-0 mb-4">
                <div class="card border-primary border shadow-none">
                    <div class="card-body position-relative">
                        <div class="position-absolute end-0 me-4 top-0 mt-4">
                            <span class="badge bg-label-primary">Popular</span>
                        </div>
                        <div class="my-3 pt-2 text-center">
                            <img src="/assets/img/front-pages/landing-page/pro_currency_eth_duotone_icon-purple1.png" alt="Standard Image" height="140" />
                        </div>
                        <h3 class="card-title text-center text-capitalize mb-1">Pro</h3>
                        <p class="text-center">For small to medium businesses</p>
                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <sup class="h6 pricing-currency mt-3 mb-0 me-1 text-primary">€</sup>
                                <h1 class="price-toggle price-yearly display-4 text-primary mb-0">37</h1>
                                <!-- <h1 class="price-toggle price-monthly display-4 text-primary mb-0 d-none">9</h1> -->
                                <sub class="h6 text-muted pricing-duration mt-auto mb-2 fw-normal">/month</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">$ 90 / year</small> -->
                        </div>

                        <ul class="ps-0 my-4 pt-2 circle-bullets">
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Upload legal files for instant summaries</li>
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Free consulting session every month</li>
                            <li class="mb-2 d-flex align-items-center">
                                <i class="ti ti-point ti-lg"></i>Purchase more consulting time
                            </li>
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>24 hours a day, 7 days of agent access</li>
                            <li class="mb-0 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Additional visa support and services</li>
                        </ul>

                        <a href="/portal/register" class="btn btn-primary d-grid w-100">Best &amp; Popular</a>
                    </div>
                </div>
            </div>

            <!-- Enterprise -->
            <div class="col-lg">
                <div class="card border rounded shadow-none">
                    <div class="card-body">
                        <div class="my-3 pt-2 text-center">
                            <img src="/assets/img/front-pages/landing-page/enterpise_codesandbox_logo_duotone_icon-purple1.png" alt="Enterprise Image" height="140" />
                        </div>
                        <h3 class="card-title text-center text-capitalize mb-1">Enterprise</h3>
                        <p class="text-center">Solution for big organizations</p>

                        <div class="text-center">
                            <div class="d-flex justify-content-center">
                                <sup class="h6 text-primary pricing-currency mt-3 mb-0 me-1">€</sup>
                                <h1 class="price-toggle price-yearly display-4 text-primary mb-0">177</h1>
                                <!-- <h1 class="price-toggle price-monthly display-4 text-primary mb-0 d-none">19</h1> -->
                                <sub class="h6 pricing-duration mt-auto mb-2 fw-normal text-muted">/month</sub>
                            </div>
                            <!-- <small class="price-yearly price-yearly-toggle text-muted">$ 190 / year</small> -->
                        </div>

                        <ul class="ps-0 my-4 pt-2 circle-bullets">
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>Free consulting session every month</li>
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>XXX</li>
                            <li class="mb-2 d-flex align-items-center">
                                <i class="ti ti-point ti-lg"></i>XXX
                            </li>
                            <li class="mb-2 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>XXX</li>
                            <li class="mb-0 d-flex align-items-center"><i class="ti ti-point ti-lg"></i>XXX</li>
                        </ul>

                        <a href="/portal/register" class="btn btn-label-primary d-grid w-100">Let us do more!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Pricing Plans -->

<!-- Real customers reviews: Start landing-reviews-->
<section id="landingReviews" class="section-py bg-body  pb-5">
    <!-- What people say slider: Start -->
    <div class="container pb-5">
        <div class="row align-items-center gx-0 gy-4 g-lg-5">
            <div class="col-md-12 col-lg-12">
                <div class="mb-3 pb-1">
                    <span class="badge bg-label-primary">Available on all plans</span>
                </div>
                <h3 class="mb-1"><span class="section-title">Services available to you…</span></h3>
                <!-- <p class="mb-3 mb-md-5">
                        See what our customers have to<br class="d-none d-xl-block" />
                        say about their experience.
                    </p> -->
                <!-- <div class="landing-reviews-btns">
                        <button id="reviews-previous-btn" class="btn btn-label-primary reviews-btn me-3 scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-left ti-sm"></i>
                        </button>
                        <button id="reviews-next-btn" class="btn btn-label-primary reviews-btn scaleX-n1-rtl" type="button">
                            <i class="ti ti-chevron-right ti-sm"></i>
                        </button>
                    </div> -->
            </div>
            <div class="col-md-12 col-12">
                <div class="row">
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Submission Letters</h6>
                                    <p class="small text-muted mb-0">XXXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Application Form help</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Business Plans</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Golden Visa / High-end</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Translation & Summaries</h6>
                                    <p class="small text-muted mb-0">XXXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Sponsorship materials</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Student &amp; workers help</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3 px-2 px-md-3">
                        <div class="card h-100">
                            <div class="card-body text-body d-flex flex-column justify-content-between h-100">
                                <div>
                                    <h6 class="mb-0">Submission review</h6>
                                    <p class="small text-muted mb-0">XXX</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<!-- Real customers reviews: End -->
<!-- CTA: Start -->
<section id="landingCTA" class="section-py list-group-item-primary p-lg-0 pb-0">
    <div class="container">
        <div class="row align-items-center gy-5 gy-lg-0">
            <div class="col-lg-6 text-center text-lg-start pb-5 pb-lg-0">
                <h6 class="h2 fw-bold mb-1">Let us start your work now</h6>
                <p class="fw-medium mb-4 text-black-50">Start you application and we will keep you up dated and provide an easy journey to completion</p>
                <a href="/portal/register" class="btn btn-lg btn-primary">Make a Start now!</a>
            </div>
            <div class="col-lg-6 pt-5 text-center text-lg-end">
                <img src="/assets/img/front-pages/landing-page/Picture2.svg" alt="cta dashboard" class="img-fluid" style="margin-top:-20%;    min-width: 60%;" />
            </div>
        </div>
    </div>
</section>
<!-- CTA: End -->
<!-- Contact Us: Start -->
<section id="landingContact" class="section-py landing-contact">
    <div class="container">
        <!-- <div class="text-center mb-3 pb-1">
            <span class="badge bg-label-primary">Contact US</span>
        </div> -->
        <h3 class="text-center mb-1"><span class="section-title"></span> Are you a business and want an AI agent to support your expertise?</h3>
        <p class="text-center mb-4 mb-lg-5 pb-md-3">Sign up and get notified to get early access and take your services to the next level</p>
        <div class="row gy-4">
            <div class="col-lg-5">
                <div class="position-relative p-2 h-100">
                    <img src="/assets/img/front-pages/landing-page/Picture12.svg" alt="contact customer service" class="contact-img w-100 scaleX-n1-rtl" />
                    <!-- <div class="pt-3 px-4 pb-1">
                        <div class="row gy-3 gx-md-4">
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-label-primary rounded p-2 me-2"><i class="ti ti-mail ti-sm"></i></div>
                                    <div>
                                        <p class="mb-0">Email</p>
                                        <h5 class="mb-0">
                                            <a href="mailto:example@gmail.com" class="text-heading">example@gmail.com</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-12 col-xl-6">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-label-success rounded p-2 me-2">
                                        <i class="ti ti-phone-call ti-sm"></i>
                                    </div>
                                    <div>
                                        <p class="mb-0">Phone</p>
                                        <h5 class="mb-0"><a href="#" class="text-heading">#</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <!-- <h4 class="mb-1">Send a message</h4>
                        <p class="mb-4">
                            If you would like to discuss anything related to payment, account, licensing,<br class="d-none d-lg-block" />
                            partnerships, or have pre-sales questions, you’re at the right place.
                        </p> -->
                        <form>
                            <div class="row g-3">
                                <div class="col-12">
                                    <label class="form-label" for="contact-form-fullname">Name</label>
                                    <input type="text" class="form-control" id="contact-form-fullname" placeholder="john" />
                                </div>
                                <div class="col-12">
                                    <label class="form-label" for="contact-form-email">Email</label>
                                    <input type="text" id="contact-form-email" class="form-control" placeholder="johndoe@gmail.com" />
                                </div>
                                <!-- <div class="col-12">
                                    <label class="form-label" for="contact-form-message">Message</label>
                                    <textarea id="contact-form-message" class="form-control" rows="8" placeholder="Write a message"></textarea>
                                </div> -->
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">You are interested</button>
                                </div>
                            </div>
                            <p class="py-3">We will not be sharing your details with another businesses.<br />
                                We shall inform you about this exclusive service for your clients.</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Us: End -->



<!-- FAQS -->
<section class="section-py pricing-faqs rounded-bottom bg-body">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="mb-2">FAQs</h2>
            <p>Here are some answers to some commonly asked questions</p>
        </div>
        <div id="faq" class="accordion accordion-without-arrow">
            <div class="card accordion-item">
                <h6 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                        How do you process payments?
                    </button>
                </h6>
                <div id="faq-2" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">
                        We accept Visa®, MasterCard®, American Express®, and PayPal®. So you can be confident that your credit
                        card information will be kept safe and secure.
                    </div>
                </div>
            </div>

            <div class="card accordion-item">
                <h6 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#faq-1" aria-controls="faq-1">
                        What counts towards the 100 responses limit?
                    </button>
                </h6>

                <div id="faq-1" class="accordion-collapse collapse show" data-bs-parent="#faq">
                    <div class="accordion-body">
                        We count all responses submitted through all your forms in a month. If you already received 100
                        responses this month, you won’t be able to receive any more of them until next month when the counter
                        resets.
                    </div>
                </div>
            </div>

            <div class="card accordion-item">
                <h6 class="accordion-header">
                    <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                        What payment methods do you accept?
                    </button>
                </h6>
                <div id="faq-3" class="accordion-collapse collapse" data-bs-parent="#faq">
                    <div class="accordion-body">2Checkout accepts all types of credit and debit cards.</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ FAQS -->