.login-img{
    border-radius: 20px;
    background-color: #f8f7fa;
}
.signup-img{
    background-color: #f8f7fa;
}

.bg-primary {
  background-color: #7367f0 !important;
  color: #fff !important;
}

.cookies-eu-banner {
  background: #7367f0;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

/* .cookies-eu-banner button {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 4px 7px;
  margin: 2px 0;
  font-size: 13px;
  font-weight: 700;
  -webkit-transition: background 0.07s, color 0.07s, border-color 0.07s;
  transition: background 0.07s, color 0.07s, border-color 0.07s;
} */

.cookies-eu-banner button:hover {
  background: #fff;
  color: #222;
}
.text-underline{
    text-decoration: underline;
}
.social-icons{
    z-index:1;
    position: fixed;
    top:50%;
	right:0%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    -webkit-transform:translate(170px,0px);
            transform:translate(170px,0px);
            -webkit-transition:all 0.8s;
            transition:all 0.8s;
}
.social-icons i{
    width: 35px;
    background-color: transparent;
    color: #fff;
}
.social-icons:hover  {
	color:#FFF;
	-webkit-transform:translate(0px,0px);
	        transform:translate(0px,0px);
}
.fa-angle-double-left:hover{
    display: none !important;
}


    #ConfPassError {
        display: none;
    }

    #message {
        display: none;
        background: #f1f1f1;
        color: #000;
        position: relative;
        padding: 10px;
        margin-top: 10px;
    }

    #message p {
        padding: 5px 10px;
        font-size: 14px;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
        color: green;
    }

    .valid:before {
        position: relative;
        left: -5px;
        content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
        color: red;
    }

    .invalid:before {
        position: relative;
        left: -5px;
        content: "✖";
    }