.login-img{
    border-radius: 20px;
    background-color: #f8f7fa;
}
.signup-img{
    background-color: #f8f7fa;
}

.bg-primary {
  background-color: #7367f0 !important;
  color: #fff !important;
}